@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';


.projects__nav {
  position: absolute;
  z-index: 3;

    &.arrow-prev,
    &.arrow-next {

      top: 15rem;

      @media screen and (min-width: $screen-size-mobile) {
        top: 50vh;
      }

      button {
        background: $color-secondary;
        box-shadow: 1px 1px 2px rgba(0,0,0,.3);
        cursor: pointer;
        position: absolute;

         &:focus {
           outline: 0;
         }

      }
    }

    &.arrow-prev {
      left: 1.2rem;

      button {
        &:before {
          transform: rotate(-90deg);
        }
      }
    }

    &.arrow-next {
      right: 3rem;

      button {
        &:before {
          transform: rotate(90deg);
        }
      }
    }
}

.page-inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  @media screen and (min-width: $screen-size-mobile) {
    flex-direction: row;
  }
}

.page-projects {
  position: relative;

  .portfolio-panel {
    box-sizing: border-box;
    height: 50%;

    @media screen and (min-width: $screen-size-mobile) {
      height: auto;
      width: 50%;
    }
  }

  .portfolio-panel {
    .lazy-img {
      height: 100%;
      position: relative;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .portfolio-summary-section {
    background: $color-secondary;
    display: flex;
    align-items: center;
    padding: 2rem 0;

    @media screen and (max-width: $screen-size-mobile) {
      margin-top: -.4rem;
      flex-grow: 1;
    }
  }
}
