@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';


.projects__nav {
  position: fixed;
  z-index: 3;

    &.arrow-prev,
    &.arrow-next {
      height: $nav-side-width;
      top: 15rem;
      width: $nav-side-width;

      @media screen and (min-width: $screen-size-mobile) {
        top: 50vh;
      }

      button {
        background: $color-secondary;
        cursor: pointer;
        font-size: 1rem;
        height: 100%;
        line-height: 2.4;
        width: 100%;

         &:focus {
           outline: 0;
         }

      }
    }

    &.arrow-prev {
      left: 0;

      button {
        &:before {
          transform: rotate(-90deg);
        }
      }
    }

    &.arrow-next {
      right: 0;

      button {
        &:before {
          transform: rotate(90deg);
        }
      }
    }
}

.page-inner {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: $screen-size-mobile) {
    flex-direction: row;
  }
}

.page-projects {
  position: relative;

  .portfolio-panel {
    @media screen and (min-width: $screen-size-mobile) {
      width: 50%;
    }

    .lazy-img {
      height: 100%;
      position: relative;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .portfolio-summary-section {
    background: $color-secondary;
    display: flex;
    align-items: center;
    padding: 2rem 0;

    .portfolio-summary {
      margin: auto;
    }

    @media screen and (max-width: $screen-size-mobile) {
      flex-grow: 1;
    }
  }
}
