@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.page-projects {
  .flex-container {
    min-height: 100%;
  }

  .col-left {
    position: relative;
  }

  .portfolio-carrousel-section {
    position: relative;
    // remove the padding for this portfolio-carrousel-wrap
    padding: 0;
    height: 100%;
    overflow-y: hidden;

    .portfolio-carrousel-wrap {
      position: absolute;
      overflow-y: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .portfolio-summary-section {
    .portfolio-summary {
      @include center-vert();

      left: 0;
      right: 0;
      padding: inherit;
    }
  }

  .arrow {
    text-align: center;
    width: 100%;

    &.arrow-next {
      transform: rotate(180deg);
    }

    button {
      @include hover-effect-link();

      font-size: $font-size-md;
      cursor: pointer;
      display: inline-block;
      // make the targer nicer with an extra .5rem
      margin-bottom: $margin-lg - .5rem;
      padding: .5rem;
    }

  }

  // try this for a fix
  &.side-arrows {
    .arrow {
      position: absolute;
      top: 50%;
      height: 0;

      button {
        transform: translateY(-50%);
      }

      &.arrow-prev {
        button {
          &:before {
            transform: rotate(-90deg);
          }
        }

        left: 0;
        text-align: left;
      }

      &.arrow-next {
        transform: none;

        button {
          &:before {
            transform: rotate(90deg);
          }
        }

        right: 0;
        text-align: right;
      }
    }
  }

  // fix for now to simplify things
  &.single-project-view {
    .portfolio-carrousel {
      // @include center-vert();

      // padding: inherit;
      // left: 0;
      // right: 0;
    }
  }

  // temp design
  .mobile-disclaimer {
    display: none;
  }

  @media screen and (max-width: $screen-size-mobile) {
    .page-panel {
      position: relative;
    }

    // temp design
    .mobile-disclaimer {
      display: block;
      position: absolute;
      top: 0;
      margin: 0;
      height: 80vh;
      width: 100%;
      text-align: center;
      padding-top: 4rem;

      span {
        color: white;
        height: 4rem;
        line-height: 4rem;
        white-space: nowrap;
        width: 100%;
      }
    }

    .portfolio-summary-section {
      display: none;

      .portfolio-summary {
        position: relative;
        top: 0;
        transform: none;
      }
    }

    &.single-project-view {
      .portfolio-carrousel-wrap {
        padding: 0;
      }

      .portfolio-carrousel-wrap,
      .portfolio-carrousel {
        position: relative;
        top: 0;
        transform: none;
      }
    }
  }
}
