@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.portfolio-carrousel {
  // position: absolute;
  // padding: inherit;
  // top: 0;
  // left: 0;
  // right: 0;

  .project-img {
    background: grey;
    height: 350px;
    width: 100%;
    display: inline-block;
    opacity: .2;
    border-bottom: 1rem solid #222;
  }
}
