@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.main-menu {
  z-index: 3;
  // border-bottom: $border-size solid $color-primary;
  box-shadow: 0px 1px 8px 0px $color-primary;
  width: 100%;
  background: $color-secondary;
  position: absolute;
  width: 100%;
  left: 0;

  .flex-wrap {
    height: $menu-height;
  }

  a {
    color: $color-primary;

    &:hover {
      color: $color-link;
    }
  }

  li {
    @include flex-wrap();

    float: left;
    display: inline-block;
    // ensure the middle item is centered
    min-width: 6rem;
    // todo: there might be a better solution here
    padding: 0 9%;
    text-align: center;
    // font-weight: $font-weight-bold;

    &.item-primary {
      font-size: $font-size-md;
      // font-family: $font-family-quote;
    }

    @media screen and (max-width: $screen-size-mobile) {
      padding: 0 1rem;
    }
  }

  .syllable-logo {
    &:before {
      width: auto;
    }

  }
  img.syllable-logo  {
    width: 4em;
  }
}
