@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.nav-main {
  z-index: 3;
  border-bottom: $nav-border-size solid $color-primary;
  width: 100%;
  background: $color-secondary;
  position: absolute;
  width: 100%;
  left: 0;

  .flex-wrap {
    height: $nav-main-height;
  }

  a {
    color: $color-primary;

    &:hover {
      color: $color-link;
    }
  }

  li {
    @include flex-wrap();

    float: left;
    display: inline-block;
    // ensure the middle item is centered
    min-width: 6rem;
    text-align: center;
    // font-weight: $font-weight-bold;

    &.item-primary {
      // todo: there might be a better solution here
      padding: 0 9%;
      font-size: $font-size-md;
      // font-family: $font-family-quote;
    }

    @media screen and (max-width: $screen-size-mobile) {
      padding: 0 1rem;
    }
  }

  .syllable-logo {
    &:before {
      width: auto;
    }
  }

  img.syllable-logo  {
    width: 4em;
    vertical-align: middle;
  }
}
