@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.nav-main {
  align-items: center;
  background: $color-secondary;
  border-bottom: $nav-border-size solid $color-primary;
  display: flex;
  height: $nav-main-height;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;

  @media screen and (max-width: $screen-size-mobile) {
    border-bottom-width: 0;
    height: $nav-main-height-mobile;
    position: fixed;
  }

  a {
    color: $color-primary;

    &:hover {
      color: $color-link;
    }
  }

  .nav-logo {
    left: 1rem;
    position: absolute;

    @media screen and (max-width: $screen-size-mobile) {
      left: .5rem;

      img.syllable-logo {
        width: 4rem;
      }
    }
  }

  .nav-items {
    width: 100%;
    @media screen and (max-width: $screen-size-mobile) {
      justify-content: flex-end;
    }

    li {
      font-size: $font-size-md;
      margin: 0 3vw;
      text-align: center;

      @media screen and (max-width: $screen-size-mobile) {
        font-size: 1rem;
      }
    }
  }

  .syllable-logo {
    &:before {
      width: auto;
    }
  }

  img.syllable-logo  {
    width: 5em;
    vertical-align: middle;
  }
}
