@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.side-menu {
  .bar-wrap {
    position: fixed;
    z-index: 2;
    height: 100vh;
    top: 0;

    &.right {
      margin-left: $page-width;

      .bar {
        right: 0;
      }
    }
  }

  .bar {
    position: absolute;
    height: 100%;
    width: $side-menu-width;
    content: '';
    background: $color-primary;
  }

  .menu {
    position: absolute;
    bottom: $tagline-offset;
    background: none;
    text-align: center;
    // transform: rotate(-90deg);

    .menu-item {
      color: white;
      margin-bottom: 1.25rem;
      display: block;
      opacity: $opacity-off-hover;

      &:hover {
        opacity: 1;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    // chill with that beak poking out, bird
    .icon-twitter {
      font-size: .85em;
      // make it feel more centered
      margin-left: -.15em;
    }

    .icon-behance {
      // make it feel more centered
      margin-left: -.1em;
    }
  }
}
