@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.lazy-img {
  .loading-icon {
    @include center-both();

    font-size: 2rem;
    // compensate for icon width
    margin-left: -1em;

    display: none;
  }

  &[data-status="loading"] {
    img {
      opacity: .1;
    }

    .loading-icon {
      display: block;
    }
  }
}
