// brand blue
$color-primary: #495C72;
// for comparison
// $color-tumblr: #36465d;
$color-white: #ffffff;
$color-secondary: $color-white;

$font-family: 'Karla', sans-serif;

$letter-spacing: -.01em;
$font-size-base: 16px;
$font-size-sm: 1.125rem;
$font-size-md: 1.5rem;
$font-size-lg: 3.5rem;
$font-size-bottom-button: 3rem;

$screen-size-tablet: 56rem;
$screen-size-mobile: 45rem;
$button-effect-height: 2px;
// $page-width: 60rem; //960px
$page-width: 100%;
$vert-menu-width: 2.5rem;
$border-size: .25rem;
$menu-height: 5rem;
$opacity-off-hover: .85;
$tagline-offset: 8vh;