@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.project-summary {
  text-align: center;
  padding: 0 $margin-sm;

  &[data-is-current-project='false'] {
    // instead of hiding it, make it height 0 so the transition works.
    opacity: 0;
    height: 0;
  }

  &[data-is-current-project='true'] {
    height: auto;
    opacity: 1;
    display: block;
    transition: $transition-time;
    transition-property: opacity;
  }

  .name,
  .skills {
    @include small-text();
  }

  .name {
    margin-bottom: $margin-md;
  }

  .skills {

  }

  .summary {
    font-size: $font-size-lg;
    margin-bottom: $margin-md;
  }

  .pipe {
    padding: .35rem;
    // font-weight: normal;
  }
}
