@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.page-home {
  .page-panel {
    // background: url(/florence-stairs.jpg) no-repeat center center fixed;
    // background: url(/background-cropped.jpg) no-repeat center center fixed;
    background: url(/background-brooklyn-cropped.jpg) no-repeat center center fixed;
    background-size: cover;

    // wash it out a little.
    // &:before {
    //   position: absolute;
    //   z-index: 1;
    //   content: '';
    //   opacity: .15;
    //   left: 0;
    //   top: 0;
    //   height: 100%;
    //   width: 100%;
    //   background: white;
    // }

    a {
      z-index: 2;
    }
  }

  .animation {
    @include center-both();
    //  bias it down
    margin-top: 6vh;
    width: 40vw;

    @media screen and (max-width: $screen-size-mobile) {
      width: 75vw;
    }
  }
}
