@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

.page-home {
  .page-panel {
    // background: url(/florence-stairs.jpg) no-repeat center center fixed;
    // background: url(/background-cropped.jpg) no-repeat center center fixed;
    background: url(/background-temp.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .slogan {
    @include center-horz();

    bottom: $tagline-offset;
    color: $color-secondary;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    border: $slogan-border-size solid $color-secondary;
    padding: .75rem 1rem;
    cursor: pointer;
    transition: $transition-time;
    transition-property: background, color, border-radius;

    // darken the background slightly to make the text pop
    background: rgba(73, 92, 114, 0.25);

    &:focus {
      outline-offset: 0;
      outline-style: solid;
      outline-width: 2px;
      outline-color: white;
    }

    &:hover {
      background: white;
      color: $color-link;
      // soften the corners just slightly
      border-radius: $border-radius-slight;
      outline: none;
    }
  }
}
