@import '../../shared-styles/variables.scss';
@import '../../shared-styles/mixins.scss';

$cloud-opacity: .4;
$cloud-anim-time: 250s;
$cloud-anim-time-demo: 5s;

@keyframes clouds {
  0% {
    opacity: $cloud-opacity;
    transform: translateY(0);
  }
  100% {
    opacity: $cloud-opacity;
    transform: translateY(-50%);
  }
}

.page-home {
  .page-panel {
    background: url(/background-brooklyn-cropped-bg.png);
    overflow: hidden;

    &:before,
    &:after {
      @include full-size();

      content: '';
    }

    &:before {
      background: url(/clouds-tile.png) repeat-y;
      opacity: .4;
      // the image is twice the height of the background
      background-size: auto 200vh;
      background-position: center top;
      z-index: 1;
      height: 400%;
      animation-name: clouds;
      animation-duration: $cloud-anim-time;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    &:after {
      background: url(/background-brooklyn-cropped-masked.png) no-repeat center center fixed;
      background-size: cover;
      z-index: 2;
    }
  }

  &.demo {
   .page-panel {
      overflow: visible;
      transform: scale(.1);

      &:before {
        animation-duration: $cloud-anim-time-demo;
      }
    }
  }

  .animation {
    @include center-both();
    //  bias it down
    margin-top: 2vh;
    width: 30vw;
    z-index: 4;

    @media screen and (max-width: $screen-size-tablet) {
      width: 50vw;
    }

    @media screen and (max-width: $screen-size-tiny) {
      width: 75vw;
    }
  }
}
